header {
  padding: 25px;

  .pause-play,
  .winning-message,
  .exit{
    padding: 4px 15px;
    color: var(--color-brown);
    border: 4px solid var(--color-brown);
    border-radius: 15px 0;
    font-weight: bold;
    cursor: pointer;
  }  
}

.squares {
  width: 98vw;
  height: 82vh;
  grid-template-columns: repeat(3, auto);
  

  .square {
    // border: 1px solid black;
    width: var(--square-size);
    height: var(--square-size);
    font-size: 130px;
    padding-bottom: 30px;
    color: var(--color-brown);
    border: 4px solid var(--color-brown);
    border-radius: 15px 0;
    font-weight: bold;
    cursor: pointer;
  }

  .square:first-child,
  .square:nth-child(2),
  .square:nth-child(3) {
    border-top: none;
  }

  .square:nth-child(3),
  .square:nth-child(6),
  .square:nth-child(9) {
    border-right: none;
  }

  .square:first-child,
  .square:nth-child(4),
  .square:nth-child(7) {
    border-left: none;
  }

  .square:nth-child(7),
  .square:nth-child(8),
  .square:last-child {
    border-bottom: none;
  }
}
  
// #exit {
//    position: relative;
  
//   span {
//    position: absolute;
//    bottom: 230px;
//    right: 0;
    
//   }
// }